.tekstura-sanimatsue,
.tekstura-sanimatsue::after {
    animation-delay: 0;
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: 1;
    animation-iteration-count: var(--iterations, 1);
    animation-duration: 800ms;
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}



.tekstura-sanimatsue {
    position: relative;
    font-size: 32px;
    animation-name: text;
    color: #f3f0f0;
    white-space: nowrap;
    cursor: default;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    text-shadow: 0 1px 0 #827a7a;
}

.tekstura-sanimatsue::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 118, 198, 0);
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer;
}

@keyframes text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes revealer {

    0%, 50% {
        transform-origin: 0 50%;
    }

    60%, 100% {
        transform-origin: 100% 50%;
    }


    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

/**** Header animation***/



/*********************Whap BTN *****************************************/


@media (max-width: 680px) {
    .container {
        width: 100% !important;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

}




@media screen and (max-width: 680px) {

    .tekstura-sanimatsue {
        font-size: 20px !important;
        text-align: center !important;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    .email-bt {

        right: 10%;
        bottom: 2% !important;

    }
}
